html,body{
	height: 100%;
	width: 100%;
    margin: 0;
	/* background-image: url("/img/background.png"); */
}


.container{
	padding-left:0px !important;
	padding-right: 0px !important;
}





@media(min-width: 900px){
	.container{
		padding-left:15px !important;
		padding-right: 15px !important;
	}
}



.monze-light{
	font-weight: 300;
}

.loading{
	display: none;
	width: 250px;
}



.no-block{
	display: none !important;
}



.no-desktop{
	display: initial !important;
}



.no-mobile{
	display: none !important;
}



.no-flex{
	display: none !important;
}



@media(min-width: 600px){
	.no-mobile{
		display: initial !important;
	}

	.no-desktop{
		display: none !important;
	}

	.no-flex{
		display: flex !important;
	} 

	.no-block{
		display: block !important;
	}
}



#first_{
	margin-top: 10px;
}



@media(min-width: 600px){
	#first_{
		margin-top: 0px;
	}
}



#warning,#warning-custom{
	display: none;
	text-align: center;
	padding: 4px;
	border-radius: 5px;
}



#animation_container, #_preload_div_{
	position:relative;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
}








/*
.form-control,.custom-select{
	color: #ffffff !important;
}
*/


#logo{
	width: 100px;
	margin-left: 10px;
	margin-top: 3px;
	margin-top: 10px;
}



#img-500{
	display: none;
}



#img-small{
	display: block;
}



#head_{
	width: 1340px; 
	display: block;
	margin: 0px auto;
}



#img-800{
	display: none;
}



#delimiter-box{
	margin: 0px;
	margin-top: -180px;

}



#main-img .img-home{
	width: 100%;
	 height: -webkit-fill-available; 
	/* height :100%; */
}

:root {
	/* change background color for .container__months */
	--litepicker-container-months-color-bg: rgba(255, 255, 255, 1.0) !important; 
	}

@media(min-width: 2000px){
	#head_{
		width: 1440px; 
	}
}

@media(min-width: 500px){

	#main-img{
	/*	padding-top: 60px;*/
	padding-top: 60px;
	}
	#img-500{
		display: block;
	}
	#img-small{
		display: none;
	}
}

.navbar-brand{
	margin-right: 0px;
}

@media(min-width: 810px){
	#main-img{
		padding: 0px;
	}

	#logo{
		width: 110px;
		margin-top: 10px;
	}



	#img-500{
		display: none;
	}





	#img-800{
		display: block;
	}
}



@media(min-width: 1175px){
	#header_adhara{
		padding-right: 16px;
		padding-left: 16px;
	}
}



@media(min-width: 1220px){
	#logo{
		width: 140px;
		margin-top: 0px;
	}


	.navbar-brand{
		margin-right: 1rem;
	}
}



@media(min-width: 1260px){
	#logo{
		width: 180px;
	}
}



.form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}





#animation_container {
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
	-webkit-box-shadow: 0px 12px 36px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 12px 36px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 12px 36px -2px rgba(0,0,0,0.75);
	display: block;margin: 0px auto;
}



#wrapper-content{
	display: block;margin: 0px auto;
	background-color: #F9EFE4;
	/* padding-top: 110px; */
}



#hold-whats{
	position: absolute;
	width: 220px;
	padding: 5px;
	margin-left: 30px;
	font-family: 'Questrial', sans-serif;
}



#todays-rate{
	padding: 20px;
	background-color: rgb(137, 44, 121);
	color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	padding-bottom: 15px;
	font-weight: 600;
}



#price-up{
	margin-top: 15px;
	background-color: rgb(137, 44, 121);
	padding: 5px;
	border-radius: 8px;
	color: #ffffff;
	font-weight: 600;
}



#hold-tarifa{
	background-color: rgb(137, 44, 121);
	color:#ffffff;
	text-align: center;
	border-radius: 5px;
	padding:8px;
	margin-top: 15px;
}





#label-info{
	background-color: rgb(137, 44, 121);
	color: white !important;
	padding: 8px;
	margin-top: 15px;
	border-radius: 5px;
	padding-bottom: 2px;
	font-family: 'Questrial', sans-serif;
}



#label-info hr{
	color: #473934;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px solid #473934;
}



#label-info p{
	margin-bottom: 5px;
}



#phone-label{
	text-align: center;
	color: white !important;
	font-size: 20px;
}



#label-info img{
	position: absolute;
    right: 0px;
    width: 50px;
    margin-top: -70px;
    margin-right: -25px;
}


@media(min-width: 576px){
	#wrapper-content{
		padding-top: 0px;
	}
}

@media(min-width: 801px){
	#wrapper-content{
		-webkit-box-shadow: 0px 12px 36px -2px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 12px 36px -2px rgba(0,0,0,0.75);
		box-shadow: 0px 12px 36px -2px rgba(0,0,0,0.75);
	}
}


@media(min-width: 1500px){
	#wrapper-content{
		max-width: 1500px;
	}
}





@media(min-width: 2100px){
	#wrapper-content{
		max-width: 1800px;
	}
}



#menu_mob{
	display: flex;
}



#menu_mob li a{
	text-decoration: none;
}



#menu_desktop{
	display: none;
}

@media(min-width: 1130px){
	#menu_mob{
		display: none;
	}

	#menu_desktop{
		display: flex;
	}
}



#header_adhara{
	height: auto;
	/* background-color: #7F5986 !important; */
	background-color: rgb(137, 44, 121);
	/*    background-color: rgba(137, 44, 121, 0.8); */
	font-family: 'Questrial', sans-serif;
	padding: 0;
}


#header_adhara ul li a{
	height: 60px;
	color: white;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Cinzel', serif;
}



@media(min-width: 992px;){

	#header_adhara{
		padding-top: 8px;
		padding-bottom: 8px;
	}

	#header_adhara ul li a{
		height: 70px;
	}
}



#header_adhara ul li{
	padding-left: 4px;
	padding-right: 4px;
}



/* Navbar mobile */



#mob_menu{
	float: right;
	height: 60px;
	padding-top: 0px;
	padding-bottom: 0px;
}



#mob_menu ul{
	margin-right: 0px;
}



#mob_menu ul li a{
	padding-left: 10px;
	padding-right: 10px;
}



#mob_menu ul li a,#logo{
	-webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;
}



#mob_menu ul li a:hover,#logo:hover{
	-webkit-transform:scale(0.85); /* Safari and Chrome */
    -moz-transform:scale(0.85); /* Firefox */
    -ms-transform:scale(0.85); /* IE 9 */
    -o-transform:scale(0.85); /* Opera */
	transform: scale(0.85);
}



@media(min-width: 1156px){
	#mob_menu ul{
		margin-right: 90px;
	}
}



@media(min-width: 1500px){
	#mob_menu ul{
		margin-right: 0px;
	}
}



#services_menu{
	background-color: rgb(137, 44, 121);
}




#services_menu a{
	height: 45px !important;
	padding-top: 12px;
    text-align: center;
}



#services_menu a:hover{
	background-color: #F9EFE4;
	color: black;
}

/* Default classes*/

.no_pad_left{
	padding-left: 0px;
}

.no_pad_right{
	padding-right: 0px;
}

.no_pad_sides{
	padding-left: 0px;
	padding-right: 0px;
}

.no_pad{
	padding:0px;
}



.new-item{
	display: block;
	width: 100%;
}



.center-item{
	display: block;
	width: 100%;
	margin: 0px auto;
}



.centerItems{
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.coco_pink{
	color: #dd4c5c;
}



.coco_brown{
	color: #5b3633;
}







/* Social Media bar styles */



.social {
  /*width: 200px;
  height: 220px;*/
  position: fixed;
  margin-top: 190px;
  perspective: 1000px;
  list-style: none;
  padding-left: 0px;
  z-index: 100;
}



@media(min-width: 900px){
	.social{
		margin-top: 150px;
	}
}



.social li a {
  display: block;
  /*height: 20px;*/
  width: 40px;
  background: rgb(137, 44, 121);;
  border-bottom: 1px solid #310707de;
  font: normal normal normal
  16px/20px 
  'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  transition: background .5s ease .300ms
}



.social li:first-child a:hover { background: #3b5998 }
.social li:nth-child(2) a:hover { background: #00acee }
.social li:nth-child(3) a:hover { background: #00a680 }
.social li:nth-child(4) a:hover { background: #dd4b39 }
.social li:first-child a { border-radius: 0 5px 0 0 }
.social li:last-child a { border-radius: 0 0 5px 0 }

/* Esconder Items en Mobile */
.hide_mob{
	display: none;
}

@media (min-width: 768px)
{
	.hide_mob{
		display: block;
	}
}
/* Estilso Buscador */

#sendP{
  background-color: white !important;
  color: #892c79 !important;
  margin-top: 23px;
  cursor: pointer;
  border-color: white;
  width: 100%;
}



#sendPayment{
  background-color: white !important;
  color: black !important;
  border-color: #892c79 !important;
  width: 250px !important;
  margin-top: 23px;
  cursor: pointer;
  border-color: white;
  width: 100%;
}





.input-group-text{
	background-color: #7F5986;
	border: 1px solid #7F5986;
	border-radius: 0.25rem !important;
}



.calendar_{
	height: 45px;
}



.input_{
	margin-top: 3px;
}



/* Text_box styles */

#wrapper_footer{
	width: 100%;
	background-color: #F9EFE4;
	padding-bottom: 20px;
}



#wrapper_footer p,#wrapper_footer a{
	color: #473934;
}



.text_footer{
	text-align: center;
	display: block;
	margin:0px auto;
	padding-top: 70px;
}





.wrapper_text{
	height: auto;
	width: 100%;
	background-color: #F9EFE4;
}



@media(min-width: 800px){
	.wrapper.text{
		height: 500px;
	}
}



#trip_logo{
	display: block;
	margin: 0px auto; 
	width: 300px;
}



.wrapper_img{
	/*height: 900px;*/
	width: 100%;
	position: relative;
}



/* -----------Footer logos------- */

.features img{
	display: block;
	margin: 0px auto;
}



#pago_seguro{
	width: 100px;
}



#hecho_mexico{
	width: 80px;
}



#ssl{
	width: 80px;
	margin-top: -10px;
}



#hacker{
	width: 100px;	
}



#pago_card{
	margin-top: 10px;
	width: 200px;
}



@media(min-width: 600px){
	#pago_card{
		width: initial;
	}
}





/* .wrapper_img img{
	position: absolute;
} */

.text_box{
	/* width: 550px; */
	text-align: center;
	display: block;
	margin:0px auto;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 50px;
	padding-top: 100px;
}



#flower_text, #bird_text,#adhara_text,#event_text,#top_text{
	padding-top: 120px !important;
}



#airplane_text{
	padding-top: 50px;
}



#event_text h5{
	color:#473934;
}



.text_box h4{
	font-size:24px;
	margin-bottom: 40px;
	letter-spacing: 3px;
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
}



.text_box p{
	color: #473934;
	font-family: 'Questrial', sans-serif;
	margin-bottom: 30px;
	letter-spacing: 0px;
	line-height: 30px;
	font-size: 17px;
}



@media(min-width: 600px){
	#flower_text, #bird_text,#adhara_text,#event_text{
		padding-top: 130px !important;
	}
}





/* Deberia ser de 500px como en el canvas.js */

@media(min-width: 800px){
	.text_box{
		padding-left: 150px;
		padding-right: 150px;
		margin-bottom: 80px;
	}



	.text_box h4{
		font-size: 29px;
	}



	#top_text{
		padding-top: 100px !important;
	}



	#flower_text, #bird_text,#adhara_text,#event_text{
		padding-top: 130px !important;
	}



	#airplane_text{
		padding-top: 150px;
	}	



}



@media(min-width: 1550px){
	.text_box h4{
		font-size: 33px;
	}



	.text_box p{
		font-size: 19px;
		letter-spacing: 1px;
	}
}



.tittle{
	color: #7F5986;
}



.text_side{
	position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
}



.overlay-room {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #31302E;
    overflow-y: hidden;
    transition: 0.5s;
}





/* #overlay-room {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(131, 92, 87); Fallback for older browsers without RGBA-support
  background-color: rgba(131, 92, 87, 0.8);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 3s ease;

}

 */



.text_cage{
	width: 100%;
	height: 100%;
	display: block;
	margin: 0px auto;
	padding-left:20px;
	padding-right:20px;
	padding-top: 20px;
	padding-bottom: 20px;
}



.text_cage h2{
	text-align: center;
	font-family: 'Cinzel', serif;
}



.text_cage p{
	/* letter-spacing: 1px; */
	font-family: 'Questrial', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-size: 16px;
	display: none;
}



.text_cage a{
	font-family: 'Questrial', sans-serif;
	width: 120px;
    display: block;
	margin: 0px auto;
    margin-top: 30px;
	padding: 6px;
	background-color: #F9EFE4;
	border-color: #F9EFE4;
	color: #473934;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
}



@media(min-width: 800px){
	.text_cage{
		padding-left: 50px;
		padding-right: 50px;
	}

	.text_cage p{
		display: initial;
	}

	.text_cage a{
		margin-top: 50px;
	}
}



.text_cage a:hover,.text_cage a:active{
	color: #473934;
}



@media(min-width: 900px){
	.text_cage p, .text_cage a{
		font-size: 15px;
	}
}



@media(min-width: 1180px){
	.text_cage p, .text_cage a{
		font-size: 16px;
	}
}



@media(min-width: 1202px){
	.text_cage a{
		margin-top: 80px;
	}
}



@media(min-width: 1270px){
	.text_cage{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}



@media(min-width: 1300px){
	.text_cage p, .text_cage a{
		font-size: 17px;
	}
}



@media(min-width: 1500px){
	.text_cage a{
		margin-top: 100px;
	}
}



@media(min-width: 1550px){
	.text_cage p{
		font-size: 18px;
	}



	.text_cage a{
		font-size: 18px;
	}
}



@media(min-width: 1690px){
	.text_cage a{
		margin-top: 180px;
		font-size: 19px;
	}
	.text_cage p{
		font-size: 19px;
	}
}



.letGo .animation{
  top: 50%;
  left: 50%;
  opacity: 1;
}



.animation{
	width: 100%;
	height: 100%;
    color: white;
    /* background-color: rgb(131, 92, 87);
    background-color: rgba(131, 92, 87, 0.8); */
     position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 2s ease-in-out 0s;
  -moz-transition: all 2s ease-in-out 0s;
  transition: all 2s ease-in-out 0s;
}



.fadeIn-left{
  left: 20%;
}



.fadeIn-right{
  left: 100%;
}


.box_{
	height: 100%;
	color: white;
	overflow-x: hidden;
}



#room_text h2{
	margin-top: 0px;
	margin-bottom: 50px;
	letter-spacing: 1px;
	font-size: 25px;
}

#room_text a{
	margin-top: 80px;
}

#pool_text h2{
	margin-top: 20%;
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}



#grill_text h2{
	font-size: 25px;
	margin-top: 0px;
	letter-spacing: 1px;
	margin-bottom: 50px;
}



#oktrip_text h2{
	font-size: 25px;
	margin-bottom: 15px;
	letter-spacing: 1px;
	margin-top: 15%;
}



@media(min-width: 600px){
	#oktrip_text h2{
		margin-bottom: 70px;
	}
}



#club_ h2{
	font-size: 25px;
	margin-bottom: 50px;
	letter-spacing: 1px;
	margin-top: 0px;
}



#plane_text h2{
	font-size: 22px;
	margin-bottom: 50px;
	letter-spacing: 1px;
	margin-top: 10%;
}



#bye_r{
	display: none;
}



#eventos_text a{
	margin-top: 30px;
}



@media (min-width: 300px ){
	#room_text h2{
		margin-top: 40%;
		font-size: 22px;
	}



	#pool_text h2{
		margin-top: 20%;
		font-size: 20px;
		margin-bottom: 30px;
	}



	#grill_text h2{
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 20px;
	}



	#grill_text a{
		margin-top: 40px;
	}



	#oktrip_text h2{
		font-size: 26px;
		margin-top: 5%;
	}



	#club_ h2{
		font-size: 26px;
		margin-top: 0px;
		margin-bottom: 30px;
	}



	#plane_text h2{
		font-size: 25px;
		margin-top: 10%;
	}



}



@media(min-width: 800px){
	#room_text h2{
		margin-top: 50%;
		font-size: 22px;
	}

}



@media(min-width: 1080px){
	#room_text h2{
		margin-top: 15%;
		font-size: 22px;
	}



	#pool_text h2{
		margin-top: 20%;
		font-size: 20px;
		margin-bottom: 30px;
	}



	#grill_text h2{
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 20px;
	}



	#grill_text a{
		margin-top: 40px;
	}



	#oktrip_text h2{
		font-size: 26px;
		margin-top: 5%;
	}



	#club_ h2{
		font-size: 26px;
		margin-top: 0px;
		margin-bottom: 30px;
	}



	#plane_text h2{
		font-size: 25px;
		margin-top: 10%;
	}

}



@media (min-width: 1155px){
	#room_text h2{
		margin-top: 15%;
		font-size: 22px;
	}



	#pool_text h2{
		margin-top: 20%;
		font-size: 20px;
		margin-bottom: 30px;
	}



	#grill_text h2{
		font-size: 23px;
		margin-top: 0px;
		margin-bottom: 40px;
	}

	#grill_text a{
		margin-top: 50px;
	}

	#oktrip_text h2{
		font-size: 26px;
		margin-top: 5%;
	}

	#club_ h2{
		font-size: 26px;
		margin-top: 0px;
		margin-bottom: 50px;
	}

	#plane_text h2{
		font-size: 25px;
		margin-top: 10%;
	}

	#eventos_text a{
		margin-top: 60px;
	}
}



@media (min-width: 1180px ){
	#room_text h2{
		margin-top: 15%;
		font-size: 22px;
	}

	#pool_text h2{
		margin-top: 20%;
		font-size: 26px;
	}

	#grill_text h2{
		font-size: 23px;
		margin-top: 0px;
		margin-bottom: 40px;
	}

	#oktrip_text h2{
		font-size: 26px;
		margin-top: 5%;
	}

	#club_ h2{
		font-size: 26px;
		margin-top: 0px;
	}

	#plane_text h2{
		font-size: 25px;
		margin-top: 10%;
	}
}

@media(min-width: 1220px){
	#room_text h2{
		margin-top: 15%;
		font-size: 22px;
	}

	#pool_text h2{
		margin-top: 20%;
		font-size: 26px;
	}

	#grill_text h2{
		font-size: 24px;
		margin-top: 0px;
		margin-bottom: 40px;
	}

	#oktrip_text h2{
		font-size: 26px;
		margin-top: 5%;
	}

	#club_ h2{
		font-size: 26px;
		margin-top: 0px;
	}



	#plane_text h2{
		font-size: 25px;
		margin-top: 10%;
	}
}


@media(min-width: 1250px){
	#room_text h2{
		margin-top: 0px;
		font-size: 22px;
	}
	#bye_r{
		display: block;
	}



	#room_text a{
		margin-top: 40px;
	}



	#eventos_text a{
		margin-bottom: 80px;
	}
}



@media(min-width: 1300px){
	#room_text h2{
		font-size: 24px;
	}

	#room_text a{
		margin-top: 40px;
	}

	#pool_text h2{
		margin-top: 20%;
		font-size: 26px;
	}


	#grill_text h2{
		font-size: 26px;
		margin-bottom: 50px;
	}


	#oktrip_text h2{
		font-size: 26px;
		margin-top: 15%;
	}


	#club_ h2{
		font-size: 26px;
		margin-top: 8%;
	}


	#plane_text h2{
		font-size: 25px;
		margin-top: 10%;
	}

}

@media(min-width: 1335px){
	#room_text a{
		margin-top: 80px;
	}
}



@media(min-width: 1350px){
	#room_text h2{
		margin-top: 5%;
		font-size: 26px;
	}


	#pool_text h2{
		margin-top: 30%;
		font-size: 29px;
	}


	#grill_text h2{
		font-size: 29px;
		margin-top: 10%;
	}


	#oktrip_text h2{
		font-size: 29px;
		margin-top: 25%;
	}


	#club_ h2{
		font-size: 29px;
		margin-top: 8%;
	}


	#plane_text h2{
		font-size: 25px;
		margin-top: 20%;
	}
}

@media(min-width: 1450px){
	#room_text h2{
		margin-top: 10%;
		font-size: 30px;
	}


	#pool_text h2{
		margin-top: 30%;
		font-size: 29px;
	}



	#grill_text h2{
		font-size: 29px;
		margin-top: 10%;
	}



	#oktrip_text h2{
		font-size: 29px;
		margin-top: 25%;
	}



	#club_ h2{
		font-size: 29px;
		margin-top: 20%;
	}



	#plane_text h2{
		font-size: 27px;
		margin-top: 25%;
	}
}



@media(min-width: 1500px){
	#room_text h2{
		font-size: 30px;
		margin-top: 15%;
	}
	#pool_text h2{
		font-size: 34px;
	}
	#grill_text h2{
		font-size: 34px;
	}

	#oktrip_text h2{
		font-size: 34px;
	}

	#club_ h2{
		font-size: 30px;
		margin-top: 15%;
	}
	#plane_text h2{
		font-size: 30px;
		margin-top: 20%;
	}
}





@media(min-width: 1579px){
	#room_text h2{
		margin-top: 25%;
		font-size: 34px;
	}
	#pool_text h2{
		margin-top: 30%;
		font-size: 34px;
	}
	#grill_text h2{
		font-size: 34px;
		margin-top: 10%;
	}

	#oktrip_text h2{
		font-size: 34px;
		margin-top: 25%;
	}
	#club_ h2{
		font-size: 34px;
		margin-top: 20%;
	}
	#plane_text h2{
		font-size: 34px;
		margin-top: 25%;
	}
}







@media(min-width: 1900px){
	#room_text h2{
		font-size: 40px;
	}
	#pool_text h2{
		font-size: 40px;
	}
	#grill_text h2{
		font-size: 40px;
	}
	#oktrip_text h2{
		font-size: 40px;
	}
	#club_ h2{
		font-size: 40px;
	}
	#plane_text h2{
		font-size: 40px;
	}
}

.text-just{
	text-align: justify !important;
	margin-bottom: 0px;
}

.text-cent{
	margin-bottom: 40px;
	text-align: center !important;
}

.text-cent3{
	margin-bottom: 40px;
	text-align: center !important;
	font-size: 14px;
}

.text-cent2{
	margin-bottom: 5px;
	text-align: center !important;
	font-size: 13px;
}

@media(min-width: 1202px){
	.text-cent3,.text-cent2{
		font-size: 100%
	}
}

#grill-logo{
	display: block;
	margin: 0px auto;
	width: 110px;
	position: initial !important;
	margin-bottom: 30px;
}

#oktrip_logo{
	position: initial !important;
	display: block;
	margin: 0px auto;
	width: 100px;
	margin-top: 5px;
	margin-bottom: 40px;
}


#club_logo{
	position: initial !important;
	display: block;
	margin: 0px auto;
	width: 70px;
	margin-bottom: 40px;
}



#eventos_logo{
	position: initial !important;
	display: block;
	margin: 0px auto;
	width: 130px;
	margin-bottom: 30px;
	margin-top: 0px;
}

#club-logo{
    display: block;
    margin: 0px auto;
    width: 100px;
    position: initial !important;
    margin-bottom: 30px;
}



@media(min-width: 800px){
	#club-logo{
		width: 130px;
	}

	#grill-logo{
		width: 140px;
	}
}

@media(min-width: 1155px){
	#oktrip_logo{
		width: 150px;
	}
	#club_logo{
		width: 95px;
	}
}



@media(min-width: 1230px){
	#grill-logo{

		width: 180px;

		margin-bottom: 50px;

	}



	#evento_logo{

		width: 150px;

		margin-bottom: 50px;

	}



	#club-logo{

		width: 150px;

		margin-bottom: 50px;

	}

}



@media(min-width: 1350px){

	#eventos_logo{

		width: 180px;

	}



	#club-logo{

		width: 170px;

	}

}



@media(min-width: 1450px){



	#eventos_logo{

		margin-top: 15%;

	}

	

}





/* Responsive Logos width 1680px  */



@media(min-width: 1650px){

	#grill-logo{

		width: 210px;

	}

	#oktrip_logo{

		width: 200px;

	}



	#club_logo{

		width: 120px;

	}



	#eventos_logo{

		width: 220px;

	}



	#club-logo{

	    width: 180px;

	}



}



@media(min-width: 1800px){

	#grill-logo{

		width: 260px;

	}

	/* #oktrip_logo{

		width: 250px;

	}

	#club_logo{

		width: 180px;

	} */



	#eventos_logo{

		width: 290px;

	}

	#club-logo{

	    width: 190px;

	}

}









#coffe_logo{

	display: block;

	margin: 0px auto;

	width: 200px;

	margin-bottom: 50px;

}













/* Loading Style */

/* Paste this css to your style sheet file or under head tag */

/* This only works with JavaScript, 

if it's not present, don't show loader */

.no-js #loader { display: none;  }

.js #loader { display: block; position: absolute; left: 100px; top: 0; }

#loadingDiv {

	position: fixed;

	left: 0px;

	top: 0px;

	width: 100%;

	height: 100%;

	z-index: 9999;

	background-color: #5b3633; /* #5b3633 ->cafe, #dd4c5c ->rosa */

}





/* svg {

  display:block;

  width:258px;

  height:258px;

  position:absolute;

  left:50%;

  top:50%;

  transform:translate(-50%,-50%);

} */



.tree {

  fill: #dd4c5c;

}



.circle-mask {

  transform-origin: 50% 90%;

  animation: scale 5s infinite ease-out;

}



@keyframes scale {

  0%, 100% {

    transform: scale(0.0);

  }

  7%, 90% {

    transform: scale(0.4);

  }

  50% {

    transform: scale(1);

  }

}



#loadingDiv{

	text-align: center;

}



#loadingDiv p{

	font-size: 30px;

	color: white;

	padding-top: 50px;

	 -webkit-animation-name: bounce; 

	   animation-name: bounce; 

	   -webkit-animation-duration: 1.3s;

	   animation-duration: 1.3s; 

	   -webkit-animation-fill-mode: both; 

	   animation-fill-mode: both; 

}







/* Estilos de lasa imagenes en el navbar */

/* General button style (reset) */

.butt {

	text-transform: uppercase;

	outline: none;

	position: relative;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	transition: all 0.3s;

}



.butt:after {

	content: '';

	position: absolute;

	z-index: -1;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	transition: all 0.3s;

}



/* Pseudo elements for icons */

.butt:before,{

	display: inline-block;

    font-style: normal;

    font-variant: normal;

    text-rendering: auto;

    -webkit-font-smoothing: antialiased;

}





.icon-hotel:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f594";

}



.icon-eventos:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f79f";

}



.icon-servicios:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f072";

}



.icon-estrella:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f2c2";

}



.icon-grupos:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f0c0";

}



.icon-home:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f015";

}





.icon-contacto:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f5a0";

}



.icon-pool:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f5c5";

}



.icon-shuttle:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f5b6";

}



.icon-food:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f2e7";

}



.icon-bussiness:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f64a";

}



.icon-lobby:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f57b";

}



.icon-gym:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f44b";

}



.icon-room:before {

	 font-family: "Font Awesome 5 Free"; 

	 font-weight: 900;

	content: "\f236";

}











/* Button 5 */

.btn-5 {



	color: #fff;

	overflow: hidden;

	-webkit-backface-visibility: hidden;

	-moz-backface-visibility: hidden;

	backface-visibility: hidden;

}



.btn-5:active {

	background: #9053a9;

	top: 2px;

}



.btn-5 span {

	-webkit-transition: all 0.3s;

	-webkit-backface-visibility: hidden;

	-moz-transition: all 0.3s;

	-moz-backface-visibility: hidden;

	transition: all 0.3s;

	backface-visibility: hidden;

}



.btn-5:before {

	position: absolute;

	height: 100%;

	width: 100%;

	line-height: 2.5;

	font-size: 24px;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	transition: all 0.3s;

}



.btn-5:active:before {

	color: #703b87;

}



/* Button 5b */

.btn-5b:hover span {

	-webkit-transform: translateX(200%);

	-moz-transform: translateX(200%);

	-ms-transform: translateX(200%);

	transform: translateX(200%);

}



.btn-5b:before {

	left: -100%;

	top: 0;

}



.btn-5b:hover:before {

	left: 45px;

}



.btn-5bb:hover span {

	-webkit-transform: translateX(200%);

	-moz-transform: translateX(200%);

	-ms-transform: translateX(200%);

	transform: translateX(200%);

}



.btn-5bb:before {

	left: -100%;

	top: 0;

}



.btn-5bb:hover:before {

	left: 65px;

}



.ui-datepicker{

	z-index: 1050 !important;

}



.tarifa-magica{

	width: 100%;

	height: 55px;

	border-radius: 5px;

}

/* Quick-search styles */



.quick-search{

	width: 100%;

	height: 55px;

    /* background-color: #473934; */

    position: fixed;

    z-index: 1036;

    top: 59px;

    left: 0px;

    border-bottom-left-radius: 5px;

    border-bottom-right-radius: 5px;

    overflow:hidden;

    overflow: initial;

    /* background-image: url(/img/quick_search.png);

    background-size: contain;

    background-repeat: no-repeat; */

}



.brown_{

	background-color: #503127;

}



#img_search{

	/* width: 62px;

	    margin-top: 0px;

	    margin-left: 0px; */



    width: 97px;

    height: 48px;

    margin-top: -1px;

    margin-left: 0px;

}





@media(min-width: 600px){

	.quick-search{

		width: 255px;

		/* left: 100px; */

	}



	#img_search{

		margin-left: -2px;

	}

}

@media(min-width: 800px){

	.quick-search{

		left: 100px;

	}

}



#quickSearch{

	margin: 0px;

	height: 55px;

}



#quickSearch input{

	height: 25px;

	font-size: 11px;

}



#quickSearch .calendar_{

	height: 30px !important;

	width: 30px !important;

	z-index: 3;

}



#quickSearch #startDate, #quickSearch #endDate{

	width: 113px;

}



#custom-search{

	border-top-left-radius: 0px;

	border-top-right-radius: 11px;

	border-bottom-right-radius: 11px;

}



@media(min-width: 600px){

	#custom-search{

		border-top-left-radius: 0px;

		border-top-right-radius: 0px;

		border-bottom-right-radius: 0px;

	}

}



.list-check{

	list-style: none;

	display: flex;

	padding-left: 0px;

	height: 45px;

	padding: 7px;

	margin-bottom: 5px;

	border-radius: 6px;

}



#quick-date{

	font-size: 7px;

	letter-spacing: 1px;

	font-weight: 300;

}



#quick-price{

	font-weight: 800;

}



#quick-tarifa{

	font-size: 8px;

	text-align: center;

}



#span-tarifa{

	font-size: 9px;

}



#quick-whats{

	font-size: 7px;

	letter-spacing: 1px;

	font-weight: 300;

	width: 95px;

}



#quick-img{

	width: 43px;

	margin-top: -15px;

}



#li-price{

	padding:0px;

}



@media(min-width: 2000px){

	.list-check{

		height: 50px;

	}



	.quick-search{

		width: 355px;

		left: 310px;

	}



	#quickSearch #startDate, #quickSearch #endDate{

		width: 100%;

	}



	#quickSearch .calendar_{

		height: 40px !important;

		width: 35px !important;

	}



	#quickSearch input{

		height: 35px;

		font-size: 13px;

	}

	#quick-whats{

		font-size: 10px;

	    letter-spacing: 1px;

	    font-weight: 300;

	    width: 150px;

	}



	#quick-img{

		width: 50px;

		margin-top: -20px;

	}



	#img_search{

		width: 109px;

		margin-left: 25px;

		height: auto;

	}



	#li-price{

		padding-left: 28px;

    	padding-right: 20px

	}



	#quick-date{

		font-size: 10px;

	}

	#quick-tarifa{

		font-size: 12px;

	}

}





.list-check p{

	margin-bottom: 0px;

	color: white;

	font-family: 'Montserrat', sans-serif;

}



.list-check li{

	margin-left: 3px;

	margin-right: 3px;

}



#btn_quick{

	background-color: transparent;

    border-width: 0px;

    cursor: pointer;

}



#btn_quick:focus{

	outline: 0px !important;

}





/*  Shuttle*/



.label-footer{

	width: 100%;

	height: auto;

	background-color: #310707de;

	margin-top: -10px;

	text-align: center;

	padding-top: 50px;

	padding-bottom: 50px;

	padding-right: 20px;

	padding-left: 20px;

}





.label-footer p{

	margin-bottom: 5px;

	font-family: 'Questrial', sans-serif;

	color: #F9EFE4;

	font-size: 16px;

}



@media(min-width: 600px){

	.label-footer{

		font-size: 20px;

		padding-right: 0px;

		padding-left: 0px;

	}

}



/* Footer styles*/





#privacy-list{

	list-style: none;

	display: flex;

	padding-left: 0px;

}



#privacy-list li{

	margin-left: 15px;

	margin-right: 15px;

}



#privacy-list li a{

	text-decoration: none;

	cursor: pointer;

}



@media(min-width: 900px){



	#privacy-list li{

		margin-left: 50px;

		margin-right: 50px;

	}

}



.ok-add{



	width:100%;

	display: block;

	margin: 0px auto;

	text-align: center;

	border-color: rgb(137, 44, 121);

	border-width: 1px;

	border-style: solid;

	padding-top: 15px;

	margin-bottom: 30px;

}



#label-foot{

	margin-bottom: 30px;

	text-align: center;

}



#gph_assets img{

	display: block;

	margin: 0px auto;

	margin-bottom: 15px;

	width: 150px;

}



.features img{

	margin-bottom: 20px;

}



@media(min-width: 500px){

	#label-foot{

		text-align: initial;

	}



	#gph_assets img{

		display: initial;

		margin: initial;

		margin-bottom: initial;

		width: initial;

	}

	.ok-add{

		width: 500px;

	}



	.features img{

		margin-bottom: initial;

	}

}



.desktop{

	display: none !important;

}





.mobile{

	display: block !important;

}





@media(min-width: 500px){

	.desktop{

		display: block !important;

	}



	.mobile{

		display: none !important;

	}

}







#_preload_div_{

	position:absolute; 

	top:0; 

	left:0; 

	height:1300px; 

	width: 1500px; 

	text-align: center;

	background-color: #F9EFE4;

}



.embed-frame{

	position: unset;

    top: 0;

    bottom: 0;

    left: 0;

    width: 100%;

    height: 640px;

    border: 0;

}


/*  ---- UPDATE COVID-19 ----  */

#covid-19{
	position: fixed;
    z-index: 2000;
    color: rgb(137, 44, 121);
    background-color: white;
    right: 0px;
    margin-right: 10px;
    margin-top: 60px;
    padding: 0px;
    border-radius: 3px;
    letter-spacing: 0px;
}


#covid-19 p{
	margin-bottom: 0px;
}

#covid-19 a{
	color: rgb(137, 44, 121);
}

#covid-19 a:hover{
	text-decoration: none;
	color: rgb(137, 44, 121);
}



















