#response{
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px
}

#existoso h4{
    color: rgb(137, 44, 121) !important;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

.title-res{
    color: rgb(137, 44, 121) !important;
    margin-bottom: 5px;
}

#exitosos small{
    font-weight: bold !important;
}